body {
    background-color: #15202B;
    /*background-image: url("https://i.ibb.co/dt3kxnY/background11.jpg");
    /* background-image: url("https://i.ibb.co/VSyYZxY/background2.jpg");*/
}

.banner {
    display:flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
}
.screen {
    display: flex;
    justify-content: center;
    border: solid 5px #633C15;
    background-color: white;
    padding: 20px;
    width: 25%;
    font-size: 2vw;
    font-weight: 300;
    color:#633C15;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 30px;
    width: 15%;
    text-align:center;
    font-size:30px;
    border: solid 5px #633C15;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reset {
    display: flex;
    justify-content: center;
    background-color: #633C15;
    padding: 30px;
    width: 5%;
    text-align: center;
    font-size: 30px;
    color: white;
    border: solid 5px #657786;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    justify-content: center;
    margin: auto;
}

.board {
    display: grid;
    margin-top: 30px;
    width: 600px;
    height: 600px;
    border: solid 3px #14171A;
    background-color: white;
    padding: 10px;
    align-items:center;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #332011;
}

.box {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 40px;
    border: solid 5px #633C15;
    justify-content: space-evenly;
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Nova Flat';
}

.instruction {
    display: grid;
    margin-top: 40px;
    width: 40%;
    height: 100%;
    border: solid 10px #657786;
    background-color: #AAB8C2;
    padding: 40px;
    justify-items: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    white-space: pre-line;
}

form {
    display: grid;
    justify-content: center;
    background-color: teal;
    margin: auto;
    gap: 10px;
    margin-top: 50px;
    padding: 1%;
    width: 70%;
    height: 100%;
    font-size: 30px;
    justify-items: auto;
    color: white;
    border: solid 5px #679eca;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.playerName {
    display: flex;
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 1000px;
    height:50%;
    text-align: center;
    font-size: 30px;
    color: black;
    border: solid 5px #657786;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start {
    display: flex;
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 200px;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    border: solid 5px #657786;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credits {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

a:visited {
    text-decoration: none;
    color: orange;
}